img {
  height: 50px;
}
.rf-navbar {
  background-color: #2F3BA1;
  color: #9D9D9D;
  border: 0;
  border-bottom: 2px solid #181E80;
  border-radius: 0;
  margin-bottom: 0;

  .navbar-brand {
    padding: 0;
    img {
      height: 50px;
    }
  }

  .navbar-nav {
    .active {
      a, a:hover, a:focus {
        background-color: #181E80;
        color: white;
      }
    }

    li > a:hover,li > a:focus {
      color: white;
      background-color: transparent;
    }
  }
}
