<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-card-list>
        <div appCard header="Fichipizza" sideMessage="Our Unique Culinary Creations">
          <ng-template appCardContent>
            A unique combination of Mediterranean and Italian pizza, topped with Mascarphone, proscuitto, figs, grando
            panado,
            honey and arugula.
          </ng-template>
          <ng-template appCardContent>
            Bla bla here
          </ng-template>

        </div>

        <div appCard header="Weekend Grand Buffet" sideMessage="This Month's Promotions">
          <ng-template appCardContent>
            Featuring mouthwatering combinations with a choice of five different salads, six enticing appetizers, six
            main
            entrees and five choicest desserts. Free flowing bubbly and soft drinks. All for just $19.99 per person
          </ng-template>
        </div>

        <div appCard header="Tommy McHugh" sideMessage="Meet our Culinary Specialists">
          <ng-template appCardContent>
            <h3>Executive Chef</h3>
            Award winning three-star Michelin chef with wide International experience having worked closely with
            whos-who in
            the culinary world, he specializes in creating mouthwatering Mediterranean-Italian experiences.
          </ng-template>
        </div>
      </app-card-list>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <app-menu-restorante></app-menu-restorante>
    </div>
  </div>
</div>

