/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";



body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
}
